<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Create Salarié formulaire</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
	crossorigin="anonymous">
</head>
<body>
<form method="post" action="saveSalarie" modelAttribute="salarie">
	
		<div class="mb-3">
			<label for="type" class="form-label">Type</label> 
			<input type="text" name="type" class="form-control" id="type">
		</div>
		<div class="mb-3">
			<label for="dateNaissance" class="form-label">Date de naissance (YYYY-MM-DD)</label> 
			<input type="text" name="dateNaissance" class="form-control" id="dateNaissance">
		</div>
		<div class="mb-3">
			<label for="dateEmbauche" class="form-label">Date d'embauche (YYYY-MM-DD)</label> 
			<input type="text" name="dateEmbauche" class="form-control" id="dateEmbauche">
		</div>
		
		<button type="submit" class="btn btn-outline-success btn-sm">Valider</button>
		<button type="reset" class="btn btn-outline-secondary btn-sm">Annuler</button>
	</form>
</body>
</html>