<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form method="post" action="saveSalarie" modelAttribute="salarie">
	
		<div class="mb-3">
			<label for="type" class="form-label">Type</label> 
			<input type="text" name="type" class="form-control" id="type">
		</div>
		<div class="mb-3">
			<label for="dateNaissance" class="form-label">Date de naissance (YYYY-MM-DD)</label> 
			<input type="text" name="dateNaissance" class="form-control" id="dateNaissance">
		</div>
		<div class="mb-3">
			<label for="dateEmbauche" class="form-label">Date d'embauche (YYYY-MM-DD)</label> 
			<input type="text" name="dateEmbauche" class="form-control" id="dateEmbauche">
		</div>
		
		<button type="submit" class="btn btn-outline-success btn-sm">Valider</button>
		<button type="reset" class="btn btn-outline-secondary btn-sm">Annuler</button>

	</form>

</body>
</html>